[View in Colaboratory](https://colab.research.google.com/github/AtharvaPagare/Gradient_Descent/blob/master/Classification.ipynb)

# **Using various classification algorithms for the iris datatset**

## **Dependencies**

In [0]:
import pandas as pd

In [0]:
import numpy as np

## **Loading the Iris dataset**

In [0]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
dataset = pd.read_csv(url, names=names)

##**Data**

In [5]:
dataset.head(10)

   sepal-length  sepal-width  petal-length  petal-width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [0]:
#Models to be used

from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [0]:
#Metrics to be used

from sklearn.metrics import accuracy_score

In [0]:
#Creating a list of the models
models = []
models.append(DecisionTreeClassifier())
models.append(LogisticRegression())
models.append(KNeighborsClassifier())
models.append(GaussianNB())
models.append(SVC())

In [0]:
#Splitting Training and Testing Data 
from sklearn import model_selection
arr = dataset.values
X = arr[:,0:4]
Y = arr[:,4]
ratio = 0.25
seed = 42
X_train,X_test,Y_train,Y_test = model_selection.train_test_split(X,Y,test_size = ratio,random_state = 42)

In [30]:
for model in models:
  k_fold = model_selection.KFold(n_splits = 10,shuffle = True, random_state = 42)
  score = model_selection.cross_val_score(model,X,Y)
  print(score.mean())

0.9673202614379085
0.9468954248366014
0.9869281045751634
0.9342320261437909
0.9734477124183006

##**Thus, through the means of k-fold cross validation, it can be seen that KNN(K Nearest Neighbors Classifier gives the highest accuracy.) **